*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #9eaebb;
}

a,
button {
    font: inherit;
    color: inherit;
}
